torch
torchvision
transformers
chromadb==0.5.4
huggingface-hub==0.24.0
ipykernel==6.29.5
ipython==8.26.0
langchain==0.2.9
langchain-community==0.2.7
langchain-core==0.2.21
langchain-experimental==0.0.62
langchain-huggingface==0.0.3
langchain-openai==0.1.17
langchain-text-splitters==0.2.2
matplotlib==3.9.1
matplotlib-inline==0.1.7
numpy==1.26.4
openai==1.35.15
pandas==2.2.2
pillow==10.4.0
pillow_heif==0.17.0
PyMuPDF==1.24.7
PyMuPDFb==1.24.6
pypdf==4.3.0